$row-box-shadows: (
    primary: 0px 0px 9px 0px rgba(0, 0, 0, .1),
    hover:   0px 0px 9px 0px rgba(0, 0, 0, .5)
);

@mixin table-line {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    
    .col-time {
        flex-basis: 25%;
        text-align: left;
    }

    .col-destination {
        margin-left: 20%;
        flex-basis: 50%;
        text-align: left;
    }

    .col-flight-num {
        text-align: right;
        flex-basis: 25%;
    }
}

.table-contatiner {
    display: flex;
    justify-content: center;

    .table {
        width: 70%;

        .header {
            @include table-line;

            background-color: #95A5A6;
            text-transform: uppercase;

            position: sticky;
            top: 5px;
        }

        .row {
            @include table-line;

            background-color: #fff;
            box-shadow: map-get($row-box-shadows, primary);

            &:hover {
                box-shadow: map-get($row-box-shadows, hover);
                cursor: pointer;
            }
        }
    }
}
