<div class="nav">
    {{> clock }}
    <div class="search">
        {{> search }}
    </div>
    <div class="container">
        <h1><a href="/arrival">Прилет</a></h1>
        <h1><a href="/departure">Вылет</a></h1>
        <h1><a href="/delays">Задержки</a></h1>
    </div>
</div>