<div class="nav">
    {{> clock }}
    <div class="search">
        {{> search }}
    </div>
    <div class="tabs-container">
        <div class="tabs-list">
            <h1><a class="tab" href="/arrival">Прилет</a></h1>
            <h1><a class="tab" href="/departure">Вылет</a></h1>
            <h1><a class="tab" href="/delays">Задержки</a></h1>
        </div>
    </div>
</div>