<div class="table-contatiner">
    <div class="table">
        <div class="header">
            <div class="col-time">Время</div>
            <div class="col-destination">Направление</div>
            <div class="col-flight-num">Номер рейса</div>
        </div>
        {{#flights}}
        <div class="row" data-flight-number="{{thread.number}}">
            <div class="col-time">
                {{#departure}}{{formatDate}}{{/departure}}{{#arrival}}{{formatDate}}{{/arrival}}
            </div>
            <div class="col-destination">
                {{thread.short_title}}
            </div>
            <div class="col-flight-num">
                {{thread.number}}
            </div>
        </div>
        {{/flights}}
    </div >
</div>