<div class="summary">
    <div class="close">Закрыть</div>
    <div class="report">
        <div class="reportItem">
            {{ flight.title }}
        </div>
        <div class="reportItem">
            {{ flight.number }}
        </div>
        <div class="reportItem">
            {{ flight.carrier.title }}
        </div>
        <div class="reportItem">
            {{ flight.vehicle }}
        </div>
    </div>
</div>